@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

main {
    max-width: 1200px;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    margin: 1rem 0;
}

.principal {
    margin: auto;
}

input,
button {
    padding: 4px 10px;
    font-weight: 500;
    font-family: "Ubuntu Sans", sans-serif;
    border: 1px solid #000;
    border-radius: 10px;
    transition: all 0.3s;
}


button:hover {
    background-color: #e33333;
    color: white;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-bottom: 5px;
    color: #e33333;
    font-size: 1.70rem;
}

h3 {
    font-size: 1.5rem;
}

section div {
    margin: 6px 0;
}

header,
footer {
    text-align: center;
    background-color: #000000;
    color: #f0f0f0;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}